* {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

.app {
    width: 1200px;
}

a:hover {
    color: #FF0808;
}

header img {
    width: 200px;
    float: left;
}

.header-nav {
    list-style-type: none;
}

.header-nav {
    float: right;
    display: flex;
}

.header-nav li {
    padding: 5px 20px;
    font-size: 18px;
    transition: 0.3s;
}

header {
    padding: 30px 20px;
}


.header-menu-burger {
    border: none;
    background-color: white;
    padding: 4px;
    display: none;
    font-size: 20px;
}

.menu-open {
    display: flex;
}

header input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 18vw;
    min-width: 220px;
    max-width: 300px;
    float: left;
    margin-left: 111px;
    border-radius: 25px;
    padding: 8px 14px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.03);
}

header input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

header input:focus {
    border-color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.05);
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.15);
}


.clear-fix {
    content: "";
    display: inline-block;
    clear: both;
}


.blog-item-info > li {
    padding: 0 20px;
}

.blog-item h2 {
    text-align: center;
}

.blog {
    padding-top: 50px;
}

/*first media start*/

@media (max-width: 1199.98px) {
    .app {
        width: 992px;
    }
}

@media (max-width: 991.98px) {
    .app {
        width: 768px;
    }

    header input {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .app {
        width: 600px;
    }

    .header-nav {
        display: none;
    }

    .header-menu-burger {
        display: inline;
    }

    .header-nav {
        display: none;
        flex-direction: column;
    }

    .header-nav.menu-open {
        display: flex;
        margin: 20px auto;
        width: 100%;
    }

    .header-nav-item {
        padding: 50px 0 !important;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
    }

    .header-nav-item:hover {
        background-color: rgba(0, 123, 255, 0.12);
    }

}

@media (max-width: 600px) {
    .app {
        width: 320px;
    }

    .header-nav {
        display: none;
    }

    .header-menu-burger {
        display: inline;
    }
}
