@font-face {
    font-family: IRANSans;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/IranSens/IRANSansWeb.woff");
}


body {
    font-family: IRANSans, serif;
}

a {
    text-decoration: none;
    color: black;
}


.logo-box {
    display: flex;
    align-items: center;
}


.logo-img {
    height: 40px;
    width: auto;
    display: block;
}

.burger-menu {
    border: none;
    background-color: white;
    font-size: 20px;
}
.search-bar .form-control {
    border: 2px solid #6C5CE7;
}

.search-bar .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 92, 231, 0.25);
    border-color: #6C5CE7;
}

.nav li:nth-of-type(2){
    direction: ltr;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.carousel-img {
    width: 100%;
    height: 400px;
    object-position: center;
}