{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'home_module/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_module/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_module/css/style.css' %}">
    <title>Arshia</title>
</head>
<body>
<section class="app">
    <header class="clearfix">
        <a href="#"><img src="{% static 'home_module/img/logo/cover.png' %}" alt=""></a>
        <input type="search" placeholder="جستوجو کنید ...">
        <button class="header-menu-burger" onclick="showMenu()"><i class="fa fa-bars"></i></button>
        <nav class="header-nav">
            <ul class="header-nav" id="menu">
                <li class="header-nav-item"><a href="#">خانه</a></li>
                <li class="header-nav-item"><a href="#">پست ها</a></li>
                <li class="header-nav-item"><a href="#">فروشگاه</a></li>
                <li class="header-nav-item"><a href="#">تماس با ما</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="blog d-flex">
            <div class="blog-item">
                <img src="{% static 'sample/images/home/Gallery.jpg' %}" alt="">
                <h2>تایتل</h2>
                <ul class="blog-item-info d-flex">
                    <li><i class="fa fa-eye"></i></li>
                    <li><i class="fa fa-heart"></i></li>
                    <li><i class="fa fa-comment"></i></li>
                </ul>
            </div>
            <div class="blog-item">
                <img src="{% static 'sample/images/home/Gallery.jpg' %}" alt="">
                <h2>تایتل</h2>
                <ul class="blog-item-info d-flex">
                    <li><i class="fa fa-eye"></i></li>
                    <li><i class="fa fa-heart"></i></li>
                    <li><i class="fa fa-comment"></i></li>
                </ul>
            </div>
            <div class="blog-item">
                <img src="{% static 'sample/images/home/Gallery.jpg' %}" alt="">
                <h2>تایتل</h2>
                <ul class="blog-item-info d-flex">
                    <li><i class="fa fa-eye"></i></li>
                    <li><i class="fa fa-heart"></i></li>
                    <li><i class="fa fa-comment"></i></li>
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>
</section>
<script src="{% static 'home_module/js/main.js' %}"></script>
</body>
</html>